.pagination {
  position: float;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.pagination button {
  background-color: var(--light-color);
  border: none;
  font-size: x-large;
  color: black;
  float: left;
  padding: 8px 16px;

} 

.pagination button:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.pagination button.active {
  background-color: var(--cat2-color);
  color: white;
  border-radius: 5px;
}


.pag-arrow:active {
  background-color: var(--light-color);
  color: var(--cat2-color)
}

.pag-number {
  border: solid var(--primary-color);
  background-color: var(--off-primary);
  color: var(--light-color)
} */