.articles-section {
  border: solid lightblue;
  height: 100vh;
  display: block;
  padding-top: 20px;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  border: dashed blue;
}

.main-article {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.norm-article {
  grid-column: span 1;
  grid-row: span 1;
}

@media (max-width: 800px) {
  ol {
    grid-template-columns: 1fr;
  }
  .main-article {
    grid-column: span 1;
  }
}
