.article-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: dashed darkblue;
  }
  
  article > img {
    width: 45rem;
  }
  
  article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:1;
    width: 45rem;
    background-color: rgb(60, 60, 60);
  }
  
  @media (max-width: 755px) {
    article > img {
      max-width: 100%;
     }
     article {
      max-width: 100%;
    }
  }
  