.user-card {
  display: flex;
  position: absolute;
  top: 5px;
  right: 10px;
  color: white;
}

.user-card button {
  margin-left: 0rem;
  border: 0;
  font-weight: bolder;
}

.user-card h3 {
  color: var(--dark-color);
  font-size: medium;
  margin-right: 3px;
}

.user-thumbnail {
  color: black;
  margin-left: 1rem;
  max-width: 3rem;
  max-height: 2rem;
}
.user-thumbnail:hover {
}

.log-in {
  display: flex;
  cursor: pointer;
}

.avatar-placeholder {
  color: black;
}

.avatar-placeholder:hover {
  border-bottom: solid black;
  border-width: 3px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logout-button {
  position: absolute;
  top: 3rem;
  right: 1rem;
  background-color: var(--primary-color);
  font-size: medium;
  color: var(--light-color);
}

.logout-button:hover {
  position: absolute;
  top: 3rem;
  right: 1rem;
  background-color: var(--primary-color);
  font-size: medium;
  color: var(--cat3-color);
}