.sort-by-section {
    position: absolute;
    top: 6.5rem;
    right: 1.5rem;
  }
  
select {
    border: solid var(--primary-color);
    border-radius: 3px;
    opacity: 90%;
}

@media (max-width: 480px) {
    .sort-by-section {
        top: 7rem;
        right: 0.5rem;
      }
  }