.header-section {
    margin-top: 45px;
    display: flex;
    justify-content: left;
    background-color: var(--primary-color);
}

h1 {
    margin-left: 3rem; 
    font-size: 4.2rem;
    line-height: 1.1;

  }

  @media (max-width: 600px) {
    .header-section {
      flex-direction: column; 
      align-items: flex-start; 
      padding: 1rem; 
    }
  
    h1 {
      margin-left: 0;
      font-size: 3rem; 
    }
  }