.comments-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: solid green;
  margin-top: 3rem;
  font-size: x-small;
}

.comments-section h5 {
  font-style: italic;
}

.comments-section input {
  width: 20rem;
  height: fit-content;
}

.comment-list {
  display: flex;
  flex-direction: column;
}

.comments-section li {
  display:flex;
  flex-direction: column;
  max-width:35rem;
}

.comments-section button {
  max-width: 10rem;;
}

/* .comments-section p {
  display: flex;
  flex-direction: column;
  text-wrap:wrap;
  max-width: 10px;;
} */

/* .comments-section p {
  display: flex;
  flex-direction: column;
  text-wrap:wrap;
  max-width: 10px;;
} */


@media (max-width: 440px) {

.comments-section p {
  max-width: 17rem ;
}


}