.comment-card {
    padding-left: 5px;
}

.comment-card p {
  margin-bottom: 0;
  font-size: smaller;
  font-weight: bold;
}

.comment-card h6 {
  margin-bottom: 0;
}

.comment-card form {
  margin-bottom: 1oo
  0px;
}
