nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 35px;
  padding-top: 3px;
  padding-left: 2rem;
  border-top: solid rgb(233, 58, 58);
  box-shadow: ;
  border-width: 1px;
  background-color:var(--primary-color);
  color: var(--light-color)
  font-size: large;
  font-weight: link;
}

.nav-link {
  margin-bottom:0px;
  color: var(--light-color)
}

.nav-link:focus {
 border-bottom: solid var(--light-color);
 border-width: 3px;
}

.nav-link:hover {
  border-bottom: solid var(--light-color);
  border-width: 3px;
 }

